.c1{
    background-image: linear-gradient(to left,#abbaab, #ffffff );
    color: #000;
    padding: 2%;
}

.c2{
    background-image: linear-gradient(to right,#83a4d4, #b6fbff );
    color: #000;
    padding: 2%;
}


.para1{
    font-size:large;
    margin: 0% auto;
    
}
 
.para2{
    font-size:large;
    line-height:5vh;
    margin: 0% auto;
}