.try{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.box{
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
}

.preview-try{
    background-color: #fff;
}

input{
    display: none;
}

.browse{
    background-color: rgba(53, 50, 228, 0.918);
    padding: 7px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

img{
    background-color: #fff;
    width: 250px;
    height: 220px;
}

@media screen and (max-width: 1024px){
    .try{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .try{
        width: 100%;
    }

    img{
        width: 200px;
        height: 180px;
    }
}

@media screen and (max-width: 576px){
    .try{
        flex-direction: column;
        padding: 50px 0;
    }
}

@media screen and (max-width: 320px){
    img{
        width: 180px;
        height: 170px;
    }
}