*{
    margin:0 ;
}


.home_container{
    width:100%;
}
.scroll-top{
    position:fixed;
    top:90%;
    left:95%;
    width:35px;
    height:35px;
    background:black;
    box-shadow:0 0 1px 1px white;
    border-radius: 5px;
}
.scroll-top:hover{
    cursor: pointer;
}



@media (max-width: 600px) {

    .home_container{
        width:100%;
    }
   
}



